.signup-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;             
    background: linear-gradient(120deg, #f8f9fb 0%, #ebe9ff 50%, #e6e9f0 100%);
    padding: 0;               
    margin: 0;
    overflow: hidden;          
}

.signup-card {
    display: flex;
    max-width: 1000px;
    width: 65vw;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    overflow: hidden
}


.form-panel {
    flex: 1 1 50%;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-logo-panel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
    font-weight: 900;
    margin: 0 0 5px 10px;
    color: #e8e7e7;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.hello-text {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
    color: #556dc5;
}

.sign-text {
    font-size: 1rem;
    color: #4f4e4e;
    margin-bottom: 30px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-field {
    width: 100%;
    margin-bottom: 0px;
}

.input-field ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.input-field ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    border-color: #dcdcdc !important;
    border-radius: 8px;
}

.input-field ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0 !important;
}

.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-icon {
    position: absolute;
    right: 15px;
    color: #b0b0b0;
    cursor: pointer;
    z-index: 2;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.signup-btn {
    width: 60%;
    height: 50px;
    margin: 25px auto 0;
    border-radius: 12px;
    background: linear-gradient(135deg, #4a6cf7, #7f9aff);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 5px 20px #4a6cf7;
    transition: all 0.3s ease;
}

.signup-btn:hover:not([disabled]) {
    transform: translateY(-2px);
    box-shadow: 0 5px 20px #4a6cf7;
}

.signup-btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed !important;
    background: #dcdcdc !important;
    box-shadow: none !important;
}

.have-account {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555555;
}

.login-link {
    font-weight: 600;
    color: #4a6cf7;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s;
}

.login-link:hover {
    text-decoration: underline;
    color: #556dc5;
}

.error-message {
    color: #e53935;
    font-size: 0.85rem;
    margin-top: -10px;
    margin-bottom: 5px;
}

.welcome-panel {
    flex: 1 1 50%;
    background: linear-gradient(135deg, #4a6cf7, #7f9aff);
    padding: 50px 0px 50px 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.welcome-text {
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 7px;
}

.welcome-subtext {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 80%;
    z-index: 1;
    margin-left: 7px;
}

.label-email, .label-password, .label-name {
    padding-left: 5px !important;
}

.email-input, .name-input, .password-input {
    padding-left: 10px !important;
    padding-bottom: 3px !important;
}

@media (max-width: 768px) {
    .signup-card {
        flex-direction: column;
        width: 95vw;
    }

    .welcome-panel {
        display: none;
    }

    .form-panel {
        padding: 30px 20px;
    }

    .signup-btn {
        width: 80%;
    }
}
