.forgot-password-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .forgot-card {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 360px;
    text-align: center;
    margin-bottom: 120px;
  }
  
  .title {
    margin-bottom: 8px;
    font-size: 24px;
    color: #4a6cf7;
    font-weight: 700;
  }
  
  .subtext {
    font-size: 14px;
    color: #272626;
    margin-bottom: 20px;
  }

  .email-input-field {
    margin-bottom: 3px;
    margin-left: 5px;
  }
  
  .input-field {
    width: 100%;
    margin-bottom: 12px;
  }
  
  .error-text {
    color: #d32f2f;
    font-size: 12px;
    margin: -8px 0 8px;
    text-align: left;
  }
  
  button {
    width: 100%;
    margin-top: 12px;
  }
  
  .back-login {
    margin-top: 16px;
    font-size: 13px;
    color: #272626;
  }
  
  .back-login a {
    cursor: pointer;
    color: #4a6cf7;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
  }
  
  .back-login a:hover {
    text-decoration: underline;
  }
  