<div class="forgot-password-wrapper">
    <div class="forgot-card">
      <h2 class="title">Forgot Password?</h2>
      <p class="subtext">Enter your registered email to reset your password</p>
  
      <form #form="ngForm" (ngSubmit)="onSubmit()">
  
        <mat-form-field appearance="outline" class="input-field">
          <mat-icon matPrefix>mail_outline</mat-icon>
          <mat-label>Email</mat-label>
          <input class="email-input-field" matInput
                 type="email"
                 name="email"
                 [(ngModel)]="email"
                 required
                 email
                 (blur)="validateEmail()"
                 (input)="resetEmail()"
                 autocomplete="off">
        </mat-form-field>
  
        <p *ngIf="validEmail === false && email" class="error-text">
          Please enter a valid email
        </p>
        <p *ngIf="emailNotFound && validEmail" class="error-text">
          Email not found
        </p>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || !validEmail">
          Send Reset Link
        </button>
  
        <p class="back-login">
          Remembered your password? 
          <a (click)="navigateToLogin()">Login</a>
        </p>
      </form>
    </div>
  </div>
  